.hidden{
    display: none;
}

html,
body{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(212, 131, 141);
    color: #fff;
}

header{
    background-color:#fff;
}

#main_logo{
    width: 30%;
    height: 180px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

#character_nav{
    background-color:#2e2d2d;
    background-image: url(../images/kitty_bg2.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-blend-mode: overlay;
    /*color doged, lighten, difference, overlay, soft-light */
    /* opacity: 0.6; */
}

.characters{
    list-style-type: none;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
}

.characters li{
    height: 220px;
    margin: 10px 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 160px 0 rgb(236, 74, 104)inset;
    transition: box-shadow 0.2s ease-in-out;
}

.characters li:hover{
    box-shadow: 0 220px 0 rgb(236, 74, 104) inset;
}

.characters li:nth-child(2){
    height: 220px;
    margin: 10px 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 160px 0 rgb(245, 110, 103)inset;
    transition: box-shadow 0.2s ease-in-out;
}

.characters li:hover:nth-child(2){
    box-shadow: 0 220px 0 rgb(245, 110, 103) inset;
}

.characters li:nth-child(3){
    height: 220px;
    margin: 10px 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 160px 0 rgb(227, 183, 79)inset;
    transition: box-shadow 0.2s ease-in-out;
}

.characters li:hover:nth-child(3){
    box-shadow: 0 220px 0 rgb(227, 183, 79) inset;
}

.characters li:nth-child(4){
    height: 220px;
    margin: 10px 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 160px 0 rgb(31, 189, 99)inset;
    transition: box-shadow 0.2s ease-in-out;
}

.characters li:hover:nth-child(4){
    box-shadow: 0 220px 0 rgb(31, 189, 99) inset;
}

.characters li:nth-child(5){
    height: 220px;
    margin: 10px 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 160px 0 rgb(31, 89, 189)inset;
    transition: box-shadow 0.2s ease-in-out;
}

.characters li:hover:nth-child(5){
    box-shadow: 0 220px 0 rgb(31, 89, 189) inset;
}

.characters li:nth-last-of-type(1){
    height: 220px;
    margin: 10px 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 160px 0 rgb(189, 31, 176)inset;
    transition: box-shadow 0.2s ease-in-out;
}

.characters li:hover:nth-last-of-type(1){
    box-shadow: 0 220px 0 rgb(189, 31, 176) inset;
}

.characters li h3{
    color: #fff;
    padding: 12px 8px;
}

.characters li a{
    text-decoration: none;
}

.sprite{
    width: 150px;
    height: 150px;
    background-image: url(../images/kitty_sprites.jpg);
}

#cupid{
    background-position: -150px 0;
}

#driver{
    background-position: -300px 0;
}

#florist{
    background-position: -450px 0;
}

#mermaid{
    background-position: -600px 0;
}

#ballerina{
    background-position: -750px 0;
}

#original:hover,
#cupid:hover,
#driver:hover,
#florist:hover,
#mermaid:hover,
#ballerina:hover{
    background-position-y: -150px;
}

#instructions{
    padding: 20px 0;
    text-align: center;
}

#instructions h3{
    font-size: 22px;
    font-weight: 900;
}

#instructions p{
    font-size: 18px;
    font-weight: 600;
}

footer {
    text-align: center;
    padding: 20px 0;
  }

  .sticky_footer {
    position: sticky;
    top: 100%;
    height: 80px;
    line-height: 80px;
    background-color: rgb(40, 37, 37);
  }  

  /* lightbox rules */

  .lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(255, 0, 230, 0.9);
    background-image: url(../images/Original_LB_Bg.jpeg);
    background-repeat: no-repeat;
    background-size: 60vh;
    background-position: 60px 120px;
    display: none;

  }

  .lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;
    color: black;
    font-size: 46px;
    text-decoration: none;
    font-weight: bold;
    transition: 3s linear;
  }

  .lightbox_close:hover {
    color:rgb(255, 0, 157);
  } 

  .lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 80px;
  }
  
  .lb_text {
    line-height: 30px;
    color: black;
  }
  
  .lb_heading {
    font-size: 34px;
    color: black;
  }

  .lightbox:target{
    display: block;
  }

 
 #lightbox2 {
    background-image: url(../images/Cupid_LB_Bg.jpg);
 }

#lightbox3 {
    background-image: url(../images/Driver_LB_Bg.avif);
}

#lightbox4 {
    background-image: url(../images/Florist_LB_Bg.jpg);
}

#lightbox5 {
    background-image: url(../images/Mermaid_LB_Bg.jpg);
}

#lightbox6 {
    background-image: url(../images/Ballerina_LB_Bg.jpg);
}